#Ignorar arquivos pesaddos
data/
videos/
outputs/
models/

# Ignorar logs e arquivos temporários
# *.log*.tmp # Sua regra original
*.log       # Sugestão mais comum para logs
*.tmp
*.cache

# Ignorar arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar ambientes virtuais
venv/
yolov8_env/

#LabelImg
LabelImg local settings
labelImg.ini
labelImgSettings.pkl
predefined_classes.txt

Label Studio data 
label_studio_data/
*.sqlite3 
*.db    

# IDEs e Editores
.vscode/
.idea/
*.swp
*~
*.bak

# Sistema Operacional
.DS_Store
Thumbs.db